*{
	font-family: 'Ubuntu', sans-serif;
}

header{
	width: 100%;
	height: 700px;
}

}
body{
	margin-top: 90px;
	width: 100%;
}

/* css navbar ---------------- */
nav{
	background-color: #013243;
	width: 100%;
	box-shadow: 3px 3px 50px black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.navbar{
	position: fixed;
}

ul li a{
	color: white;
	font-size: 1.3em;
}
i{
	color: #9aaa9f;
	margin: 20%;
	margin-right: 0;
}
.barra-busca{
	flex-direction: row;
	display: flex;
	background-color: white;
	border-radius: 10px;
	padding: 2px;
	width: 35%;
	height: 60%;
	margin-left: 15%;
}
.input-busca{
	border: 0;
	height: 90%;
	margin-left: 0;
	padding-right: 0;
	
}
.divisor{
	color: white;
	font-size: 1.6em;
	
}

.navbar-brand{
	padding: 0;
}
.navbar-brand img{
	height: 55px;
	width: auto;

}

/* ------------------------------- */
.conteudo, .col-sm-6{
	border: 1px solid red;
	height: 400px;
}

.row-pre{
	height: 45%;
}

.card-pre{
	height: 70%;
	width: 200px;
}
.card-aula{
	height: 95%;
	width: 200px;
}
.card-img-pre{
	max-height: 50%;
	
}
.card-footer-pre{
	background-color: rgba(255,255,255,0.7);
}

.btn-duvida{
	width: 150px;
	color: black;
	background-color: #446CB3;
	font-size: 20px;
	padding: 0;
}

.btn-duvida:hover{
	background-color: #013243;
	color: white;
}

.btn-feedback{
	width: 150px;
	background-color: #013243;
	color: white;
	font-size: 20px;
	padding: 0;
	padding-bottom: 3px;
}

.btn-feedback:hover{
	background-color: #446CB3;
	color: black;
}
.btn-group-video{
	display: flex;
	justify-content: space-between;
	padding-right: 13%;
	margin-top: 3%;
}

/* CSS cadastro de vídeo */

.container-fluid{
	height: 100%;
	width: 100;
	padding:  100px 80px 100px 80px;
	
}

.mestre {
	width: 500px;
	height: 600px;
	background-color:#c9cae8a2;
	padding: 15px;
	display: inline-block;
	margin-left: 60px;
	border-radius: 12px;
	margin-top: 12px;
	position: static;
	float: left;
	box-shadow: 3px 2px 30px rgb(14, 15, 102);
	
}
.cadastro {
	width: 100%;
    padding: 12px 20px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.textoCentro {
	text-align: center;
}

.botaoEntrar {
 display: block;
 margin-top: 10px;
 height: 40px;
 width: 120px;
 border-radius: 4px;
 color:white;
 background-color:#013243;
 border: 1px #9aaa9f;
}

.botaoEntrar2 {
	display: block;
	margin-top: 10px;
	height: 40px;
	width: 200px;
	border-radius: 4px;
	color:white;
	background-color:#013243;
	border: 1px #9aaa9f;
   }

#botaoEnviar {
	height: 100px;
	width: 100%;
	
}
.iconeUp {
	font-size: xx-large;
	margin: 0px;
	color: #474e49;
}


