*{
	font-family: 'Ubuntu', sans-serif;
}

header{
	width: 100%;
	height: 700px;
}
.container-fluid{
	
	
}
body{
	margin-top: 90px;
	width: 100%;
}

/* css navbar ---------------- */
nav{
	background-color: #013243;
	width: 100%;
	box-shadow: 3px 3px 50px black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.navbar{
	position: fixed;
}

ul li a{
	color: white;
	font-size: 1.3em;
}
i{
	color: #9aaa9f;
	margin: 20%;
	margin-right: 0;
}
.barra-busca{
	flex-direction: row;
	display: flex;
	background-color: white;
	border-radius: 10px;
	padding: 2px;
	width: 35%;
	height: 60%;
	margin-left: 15%;
}
.input-busca{
	border: 0;
	height: 90%;
	margin-left: 0;
	padding-right: 0;
	
}
.divisor{
	color: white;
	font-size: 1.6em;
	
}

.navbar-brand{
	padding: 0;
}
.navbar-brand img{
	height: 55px;
	width: auto;

}

/* ------------------------------- */
.conteudo, .col-sm-6{
}

.btn-duvida{
	width: 150px;
	color: black;
	background-color: #446CB3;
	font-size: 20px;
	padding: 0;
	margin-top: 5px;
}

.btn-duvida:hover{
	background-color: #013243;
	color: white;
}

.btn-feedback{
	width: 150px;
	background-color: #013243;
	color: white;
	font-size: 20px;
	padding: 0;
	padding-bottom: 3px;
	margin-top: 5px;
}

.btn-feedback:hover{
	background-color: #446CB3;
	color: black;
}
.btn-group-video{
	display: flex;
	justify-content: space-between;
	padding-right: 13%;
	margin-top: 3%;
}

.form-duvida{
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.duvida{
	margin-bottom: 2%;
	width: auto;
	margin-top: 5px;
}

textarea.duvida, .email.duvida{
	width: 100%;
	margin-top: 5px;
}
.titulo-video{
	font-size: 35px;
}
.form-feedback{
	display: none;
}

.feedback{
	margin-top: 5px;
}

.card-text{
	font-size: 15px;
	
}
.card-title{
	font-size: 18px;
	width: 200px;
}
iframe.card-img-top{
	height: 120px;
	width: 200px;
	margin: auto;
	border: none;
}
.card{
	width: 210px;
	margin: 1%;
	background-color: #013243;
		
}
.btn-link{
	color: white;;
}
.pre-requisito{
	display: flex;
	flex-wrap: wrap;
	margin-top: 5%;
}
h2{
	font-size: 25px;
	margin-top: 1%;
}
.group-aulas{
	display: flex;
	margin-top: 5%;

}
.aulas{
	margin: 1%;
}
